@model Byte[]
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ ViewData["Title"] = "Delivery"; }
<title>Index</title>
@section Scripts{
}
<body class="splash">
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <div class="center">
            <a class="navbar-brand font text-dark" asp-area="" asp-controller="CallCentre" asp-action="Index">
                <img src="~/images/arrow-alt-circle-left-solid.svg" width="45" alt="" style="padding: 5px;">Back
            </a>


            <form asp-action="QRCode" asp-controller="CallCentre" asp-antiforgery="true">
                <div class="container">
                    <div class="panel-group">
                        <div class="panel panel-info">
                            @*<div class="panel-heading">Generate QR Code</div>*@
                            <div class="panel-body">
                                @*<a class="navbar-brand font text-dark float-left" asp-controller="CallCentre" asp-action="QRCodePrint">
                                    <img src="~/images/download-solid.svg" width="25" alt="" style="padding: 5px;" />PDF
                                </a>*@
                                @{ if (Model != null)
                                    {
                                        <div class="row mt-3">
                                            <div class="col-md-12">
                                                <div class="col-md-3"></div>
                                                <div class="col-md-9">
                                                    <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model))" height="300" width="300" />
                                                </div>
                                            </div>
                                        </div> 
                                    } 
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>