@{
    ViewData["Title"] = "Add Delivery";
}

<div class="text-center">
    <h1 class="display-4">Add Deliveries</h1>
</div>

@using (Html.BeginForm("Add", "Delivery", FormMethod.Post))
{
    <label for="dDateTime">Delivery date and time:</label>
    <input type="datetime-local" id="dDateTime" name="dDateTime" required><br>
    <label for="pLocation">Pickup Location:</label>
    <input type="text" name="pLocation" list="pLocation" required/><br>
    <label for="dState">Delivery State:</label>
    <input type="text" name="dState" list="dState" required/><br>
    <label for="dDriver">Driver:</label>
    <input type="number" name="dDriver" list="dDriver" required/><br>
    <label for="dVehicle">Vehicle:</label>
    <input type="number" name="dVehicle" list="dVehicle" required/><br>
    <label for="dClient">Client:</label>
    <input type="number" name="dClient" list="dClient" required/><br>
    <label for="dCompany">Company:</label>
    <input type="number" name="dCompany" list="dCompany" required/><br>
    <input type="submit" value="Add Delivery">
}