.DS_Store

web-application/UniDelWebApplication/.vs
web-application/UniDelWebApplication/WebApplication2/bin
web-application/UniDelWebApplication/WebApplication2/obj
web-application/UniDelWebApplication/UniDelWebAppUnitTesting/bin
web-application/UniDelWebApplication/UniDelWebAppUnitTesting/obj
mobile-application/UniDelMobileApplication/.vs
mobile-application/UniDelMobileApplication/UniDelMobileApplication/bin
mobile-application/UniDelMobileApplication/UniDelMobileApplication/obj
mobile-application/UniDelMobileApplication/UniDelMobileApplication.Android/bin
mobile-application/UniDelMobileApplication/UniDelMobileApplication.Android/obj
mobile-application/UniDelMobileApplication/UniDelMobileApplication.iOS/bin
mobile-application/UniDelMobileApplication/UniDelMobileApplication.iOS/obj