.DS_Store

web-application/UniDelWebApplication/.vs
web-application/UniDelWebApplication/WebApplication2/bin
web-application/UniDelWebApplication/WebApplication2/obj
web-application/UniDelWebApplication/UniDelWebAppUnitTesting/obj
