@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "User Not Confirmed";
}

<div class="col-lg col-xl col-md col-lg">
    <p class="text-body">@Model has not been confirmed</p>
    <p class="text-body">Please check email inbox for confirmation email or @Html.ActionLink("Resend confirmation email","ConfirmationSent","Account",new { em = Model})</p>
</div>