@using UniDelWebApplication.Models
@model CourierCompany
@{ ViewData["Title"] = "Settings"; }

<body class="splash">
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <h1>Settings</h1>

        @using (Html.BeginForm("Settings", "Account", FormMethod.Post, new { id = "loginForm", enctype = "multipart/form-data", @class = "form-card" }))
        {
<table class="fulltableadd">
    <tr>
        <td>
            <label for="email">Email address</label>

        </td>
        <td>
            <input type="email" class="form-control" id="email" name="email" required value="@Model.User.UserEmail">
        </td>
    </tr>
    <tr>
        <td>
            <br />
        </td>
        <td>
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <label for="propic">Profile Picture</label>

        </td>
        <td>
            <input type="file" class="form-control" id="propic" name="propic" accept="image/*">
        </td>
    </tr>
    <tr>
        <td>
            <br />
        </td>
        <td>
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <label for="compName">Courier Company Name</label>

        </td>
        <td>
            <input type="text" class="form-control" id="compName" name="compName" required value="@Model.CourierCompanyName">
        </td>
    </tr>
    <tr>
        <td>
            <br />
        </td>
        <td>
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <label for="tel">Telephone</label>
        </td>
        <td>
            <input type="tel" class="form-control" id="tel" name="tel" required value="@Model.CourierCompanyTelephone">
        </td>
    </tr>
</table>
                <br />
                                <div class="divcenter">
                                    <button type="submit" name="submit" id="login" class="btn blue greenblue btnadd" style="margin:auto">Update</button>

                                </div>
                                                <br />
                                                                <div class="divcenter">
                                                                    <button class="btn grey greengrey btnadd" style="margin:auto" asp-controller="Account" asp-action="ChangePassword">Change Password</button>
                                                                </div><br/>
                                                                <div class="divcenter">
                                                                    <button class="btn grey greengrey btnadd" style="margin:auto" asp-controller="FleetManagement" asp-action="Index">Cancel</button>
                                                                </div>}
    </div>
</body>