@font-face {
    font-family: "Jura-VariableFont_wght";
    src: url('Jura-VariableFont_wght.ttf');
}


@font-face {
    font-family: "Yellowtail-Regular";
    src: url('Yellowtail-Regular.ttf');
}

.font {
/*    font-family: "Jura-VariableFont_wght";*/
    font-weight: 700;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

whitefont {
/*    background-color: #0069d9;*/
    color: #ffffff;
}

/*th {
    font-weight: 700;
    font-size: 1.3em;
}

td {
    font-weight: 600;
}*/

* {
    font-family: "Jura-VariableFont_wght";
    font-weight: 500;
}