@{ ViewData["Title"] = "Unidel"; }
@*@model List<UniDelWebApplication.Models.Customer> PROVIDE THIS CODE TO ACCESS THE MODEL SENT BY FUNCTION return View(uniDelDb.Customers.ToList())*@

<body class="splash">
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <div class="form-group">
            <h1 class="text-center LOGIN">WELCOME TO UNIDEL</h1>
            <h2 class="text-center">What we offer:</h2>
            <div class="center">
                <div class="hometext">
                    UniDel is a unified delivery tracking system that supports fleet management. The system manages the deliveries of products using mobile devices that scan QR codes to track the statuses of the deliveries. Courier companies can track deliveries and manage their fleets and drivers in a single unified system. The system consists of a web application that manages the entire system and a mobile application, used by drivers and customers, in order to track and manage the progress of deliveries.
                </div>
            </div>
        </div>


        <div class="center">
            <table class="fulltable">
                <tr>
                    <td>
                        <img src="~/images/noun_QRcode.png" alt="QR CODE" class="doublecenter">
                    </td>
                    <td style="text-align:center">
                        Use QR codes to save data, as to have a paperless system.
                    </td>

                </tr>
                <tr>
                    <td>
                        <br />

                    </td>
                    <td>
                        <br />

                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/noun_Camera.png" alt="QR CODE" class="doublecenter">
                    </td>
                    <td style="text-align:center">
                        Share images of the product before and after transit, to give clients peace of mind.
                    </td>

                </tr>
                <tr>
                    <td>
                        <br />

                    </td>
                    <td>
                        <br />

                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/noun_Location.png" alt="QR CODE" class="doublecenter">
                    </td>
                    <td style="text-align:center">
                        Track the delivery drivers' live locations, as well as their delivery status.
                    </td>
                </tr>
                <tr>
                    <td>
                        <br />

                    </td>
                    <td>
                        <br />

                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/noun_route.png" alt="QR CODE" class="doublecenter">
                    </td>
                    <td style="text-align:center">
                        Get the best route to the delivery location.
                    </td>
                </tr>
                <tr>
                    <td>
                        <br />

                    </td>
                    <td>
                        <br />

                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/noun_traffic jam.png" alt="QR CODE" class="doublecenter">
                    </td>
                    <td style="text-align:center">
                        Manage your company's fleet, this includes their service dates and license expiry.
                    </td>
                </tr>

            </table>
        </div>
    </div>
</body>



