@{
    ViewData["Title"] = "Driver current location";
}

<div class="text-center">
    <h1 class="display-4">Drivers Location</h1>
</div>

<iframe width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBO2eSzL22PogFFqA30bXPrWwvTbqpMYHM&q=-25.756257400000003,28.240955699999997" allowfullscreen>
</iframe>

