@{
    ViewData["Title"] = "Log call";
}

<div class="text-center">
    <h1 class="display-4">Log Call</h1>
</div>

@using (Html.BeginForm("Log", "Call", FormMethod.Post))
{
    <label for="cDateTime">Call date and time:</label>
    <input type="datetime-local" id="cDateTime" name="cDateTime" required><br>
    <label for="reason">Reason for call:</label>
    <input type="text" list="reason" required/>
    <datalist id="reason">
      <option>Delivery not arrived</option>
      <option>Incorrect package</option>
      <option>Bad delivery time</option>
      <option>Damaged Goods</option>
    </datalist><br>
    <label for="notes">Notes:</label>
    <textarea id="notes" rows="4" cols="50"></textarea><br>
    <input type="submit" value="Log Call">
}